@font-face {
    font-family: 'Acherus Feral';
    src: url('AcherusFeral-Bold.woff2') format('woff2'),
        url('AcherusFeral-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acherus Feral';
    src: url('AcherusFeral-Light.woff2') format('woff2'),
        url('AcherusFeral-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

